<!-- <MAIN>/polls/templates/polls/index.html: START -->

{% extends 'polls/base.html' %}

{% block title %}Django Tutorial{% endblock title %}
{% block nav-style %}mkt-nav{% endblock nav-style %}

{% block content %}

<div class="jumbotron">
    <div class="container">
        <h1 class="display-3">Django Tutorial</h1>
        <p class="lead">A simple Poll-App with Bootstrap and Angular.</p>
        <p><a class="btn btn-primary btn-lg" href="#" role="button">Learn more &raquo;</a></p>
    </div>
</div>

<div class="container">
    {% if latest_question_list %}
        <div class="card-deck mb-4 text-center">
            {% for question in latest_question_list %}
            <div class="card mb-4 shadow-sm">
                <img class="card-img-top" src="https://via.placeholder.com/100x50" alt="Card image cap">                
                <!--
                    <div class="card-header"><h4 class="my-0 font-weight-normal">{{ question.question_text }}</h4></div>
                -->
                <div class="card-body text-left">
                    <h5 class="card-title">{{ question.question_text }}</h5>
                    {% for choice in question.choice_set.all %}
                    <div class="row">
                        <div class="col-sm">{{ choice.choice_text }}</div>
                        <div class="col-sm">{{ choice.votes }} vote{{ choice.votes|pluralize }}</div>
                    </div>
                    {% endfor %}
                </div>
                <div class="card-footer">
                    <button type="button" class="btn btn-lg btn-block btn-outline-primary">
                        <a href="{% url 'polls:detail' question.id %}">Vote</a>
                    </button>
                </div>
            </div>
            {% endfor %}
        </div>
    {% else %}
    <p>No polls are available.</p>
    {% endif %}
</div>

{% endblock content %}

<!-- <MAIN>/polls/templates/polls/index.html: DONE -->